:root {
	--icon-color : rgb(116, 204, 239);
}
#navbar-main {
  background: #f9f9f9;
}
.logo {
  font-weight: bold;
  line-height: normal;
  font-size: 32px;
  color: #154A9A;
  text-transform: none;
}
.navbar-nav .nav-link .nav-link-inner--text, .personnel {
  font-size: 14px;
  color: #000;
  opacity: 0.7;
}
.medfit {
  color: red;
}
/*.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin-top: 20px;
}*/
.employees {
  font-size: 32px;
  font-weight: bold;
}
.teamofexperts-div {
  width: 55%;
  margin: 0 auto;
}
.teamofexperts {
  line-height: 28px;
  font-size: 18px;
}
.getstarted {
  margin-top: 30px;
  background: linear-gradient(180deg, #E9E9E9 0%, #FFFFFF 100%);
  border-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 50px;
  letter-spacing: 0.05em;
  color: #154A9A;
}
#services-div, #certficates-div {
  padding: 5rem 0;
  background: #f9f9f9;
}
.ourservices {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #000;
}
.services-line {
  width: 145px;
  border: 2px solid #154A9A;
  margin-top: -20px;
  position: relative;
  left: -20px; 
  margin-bottom: 60px;
}
.awesome-service {
  font-size: 18px;
  color: #000;
}
.service-details, 
.footer .nav .nav-item a.nav-link, .footer .footer-link {
  font-size: 14px;
  color: #000!important;
  font-weight: 600;
  opacity: 0.5;
}
.service-icon {
  margin-bottom: 15px;
}
#review-div {
  background: url(./../../assets/img/doctor.png);
  background-repeat: no-repeat;
  padding: 120px 0;
}
#testresults {
  background: linear-gradient(180deg, #154A9A 0%, #2763BF 100%);
  border-color: #2763BF;
  color: #fff;
  margin-top: 50px;
}
.personalreview {
  font-weight: 600;
  font-size: 20px;
  color: #000;
}
.benefit-div {
  width: 300px;
  height: 225px;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-top: 10px;
}
.benefit {
  font-weight: 600;
  line-height: 28px;
  font-size: 18px;
  color: #000;
  text-align: center;
  padding-top: 95px;
}
.footer {
  background: #fff;
}

/* LOGIN PAGE */

.login-div {
  background: url(./../../assets/img/login.png);
  background-repeat: no-repeat;
  /*padding: 120px 0;*/
}
.login {
  padding: 40px 0 100px 0;
}
.welcome-div {
  margin-top: 40px;
}
.welcome {
  font-size: 24px;
  color: #000;
}
.details {
  font-size: 16px;
  color: #000;
  opacity: 0.7;
  margin-top: -15px;
}
.login-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
}
.focused .form-control {
  border: 0.5px solid #000;
}
.account {
  margin-top: 30px;
  font-size: 16px;
  color: #000;
}
.register {
  color: #154A9A;
  font-weight: 600;
  font-size: 16px;
}
.form-control {
  /*font-size: 20px;*/
  font-size: 16px;
  color: #000000;
  opacity: 0.4;
  border: 0.5px solid #000;
  margin-top: 20px;
}


/* CLIENT LOGIN */
.login-fieldset {
  height: 50px; 
  border: 0.5px solid rgba(40, 131, 210, 0.4); 
  border-radius: 5px; 
  padding: 10px;
}
#contractor {
  margin-top: -35px; 
  border: none; 
  background: transparent;
  font-size: 14px;
  opacity: 1;
}
.login-button {
  width: 100%;
  background: linear-gradient(180deg, #154A9A 0%, #2763BF 100%);
  border-color: #2763BF;
  color: #fff;
  margin-top: 60px; 
}

/* UPLOAD */
.client-type {
  background: #FFFFFF;
  border: 1px solid #2883D2;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.first-button {
  margin-left: -20px;
}
.second-button {
  margin-left: 10px;
}
.upload-div {
  margin-top: 50px;
}
.goback {
  position: absolute;
  left: 50px;
  /*top: 15%;*/
}
.goback a {
  color: #154A9A;
  font-weight: 600;
  font-size: 14px;
}
.questionmark {
  position: absolute;
  top: 39%;
  right: 27%;
}
#nameoftest {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #F5F5F5;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
}
#upload-file {
  height: 80px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -17px;
}
.uploadmark {
  position: absolute;
  top: 13%;
  right: -20%;
}
.upload-line {
  border: 0.5px solid rgba(0, 0, 0, 0.15);
}
.access-div label {
  font-size: 18px;
  color: #000;
}
#upload-value {
  font-size: 20px;
  color: #000000;
  text-align: center;
  opacity: 1;
}
.bold {
  font-weight: bold;
}


/* SUPERCLIENT DASHBOARD */
.bookings {
  font-size: 32px;
  color: #000000;
  opacity: 0.7;
}
.search-icon {
  position: absolute;
  right: 30px;
  top: 35px;
  opacity: 0.7;
}
.filter {
  font-size: 20px;
  color: #000000;
  opacity: 0.7;
}
.filter-icon {
  margin-top: -3px;
  margin-right: 15px;
}
/* table css */
.table-responsive-stack tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.table-responsive-stack tbody tr {
  background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}


.table-responsive-stack td,
.table-responsive-stack th {
  display:block;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.table-responsive-stack .table-responsive-stack-thead {
  font-weight: bold;
}



@media screen and (max-width: 768px) {
  .table-responsive-stack tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 3px solid #ccc;
    display:block;   
  }
  /*  IE9 FIX   */
  .table-responsive-stack td {
    float: left\9;
    width:100%;
  }
}  

@media screen and (min-width: 769px) and (max-width: 990px) {
  .col-md-5 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .client-type {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 990px) {
  .client-type {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .first-button,
  .second-button {
    margin-left: 0;
  }
}

@media screen and (min-width: 991px) and (max-width: 1300px) {
  .client-type {
    font-size: 13px;
  }
}

.table th, .table td {
  border-top: 0;
  font-size: 14px;
  /*padding-top: 25px;*/
}
.table thead {
  background: #0F4290;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.more-info {
  color: #154A9A;
  background-color: transparent;
  border: 1px solid #154A9A;
  font-size: 14px;
}
.table-button {
  padding-top: 30px;
}
.table thead th {
  border-bottom: 0;
}
.pending {
  color: #BD7E03;
}
.decline {
  color: #BD0303;
}
.accept {
  color: #019310;
}
.cancel {
  color: #212121;
}
.done {
  color: #154A9A;
}
.getaccess {
  padding: 10px 40px;
}
.upload {
  background: linear-gradient(180deg, #154A9A 0%, #2763BF 100%);
  border-color: #2763BF;
  border-radius: 5px;
  color: #fff;
}
.personalinfo-div {
  background: #FFFFFF;
  padding: 15px;
}
.personal {
  font-size: 12px;
  color: #000000;
  opacity: 0.7;
}
.profilename {
  font-size: 20px;
  color: #000000;
}
.info-line {
  opacity: 0.4;
  border: 0.5px solid rgba(0, 0, 0, 0.4);
}
.lease {
  font-size: 14px;
  color: #000;
}
.booking-date {
  font-size: 20px;
  color: #ED1C24;
}
#bookinginfo-table thead{
  background: transparent;
  color: #000;
  font-size: 14px;
  opacity: 0.7;
}
.blood-test {
  background: #777777;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-size: 12px;
  display: inline-block;
}
.accesscode-form {
  margin: 19px;
  margin-top: 45px;
}
.accesscode-form input {
  margin-bottom: 45px;
}
.upload.usecode {
  margin-top: -10px;
} 
td.table-button button {
  margin-top: -10px;
}




@media screen and (max-width: 768px) {
  .logo {
    margin-top: 10px;
  }
  .login-form {
    width: 80%;
  }
  .goback {
    position: absolute;
    left: 52px;
    top: 16%;
  }
  .questionmark {
    position: absolute;
    top: 41%;
    right: 5%;
  }
  .getstarted {
    font-size: 16px;
  }
  
}
@media screen and (max-width: 550px) {
  
}
@media screen and (max-width: 1000px) {
  .benefit-div {
    width: auto;
  }
  .login-form {
    width: 65%;
  }
}

/* REGISTRATION */
.first-button a span,
.second-button a span {
  font-weight: 600;
  line-height: normal;
  font-size: 16px;
}
.first-button a p,
.second-button a p {
  font-size: 12px;
  opacity: 0.4;
}
.goback-button {
  width: 100%;
  background: #fff;
  border-color: #2763BF;
  color: #154A9A;
  margin-top: 60px;
  padding: 15px 50px;
}
.contact-person {
  font-size: 14px;
  color: #000;
  font-weight: 600;
  text-align: left;
}
.medical label {
  font-size: 14px;
  color: #000;
}
.add-hospital {
  font-size: 16px;
  color: #154A9A;
  text-align: left;
}
.progress-div {
  margin: 10px 40%;
}
.progress-details {
  float: left;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: #154A9A;
  border-radius: 50%;
  opacity: 0.2
}
.progress-details.progress-selected {
  opacity: 1;
}
